#searchRow {
    width: 99.5%;
    height: 30px;
    margin: auto;
    border: 1px solid black;
    text-align: left;
    z-index: 10;
    position: relative;
    background-color: #ffffff;
    opacity: 1.0;
}